body{
    background-color: #121212;
}
:root{
    --main: #f76c01;
    
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo{
        color: var(--main);
        font-size: 3em;
        font-weight: 700;
    }
    nav{
        width: 60%;

        ul{
            display: flex;
            justify-content: space-between;
            li{
                list-style: none;
                
                a{
                    text-decoration: none;
                    color: rgb(123, 123, 123);
                    &:hover{
                        color: var(--main);
                    }
                }
                
            }
        }
    }
    .button{
        button{
            border-radius: 5px;
            background-color: var(--main);
            color: white;
            border: none;
            padding: 5px 20px;

        }
    }
}

section.me{
    display: flex;
    .info{
        width:50%;
        margin-top: 60px;
        .hi{
            color: darkgray;
        }
        .name{
            color: lightgrey;
            font-size: 1.4em;
            padding-top: 10px;
            padding-bottom: 20px;

        }
        .prof{
            color: var(--main);
            font-size: 2em;
            font-weight: bold;
        }
        .icons{
            display: flex;
            margin-top: 10px;
            
            .instagram{
                padding-left: 10px;
                padding-right: 10px;
            }
        }
        .button-info{
            margin-top: 20px;
            button{
           border-radius: 5px;
            background-color: var(--main);
            color: white;
            border: none;
            padding: 10px 30px; 
            }
        }
    }
    .photo{

        width:50%;
        img{
            width:70%;
        }
    }
}