body {
  background-color: #121212;
  margin: 0;
}

:root {
  --main: #f76c01;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  position: sticky;
  top: 0;
  background-color: #121212;
  z-index: 1000;
  box-shadow: 0px 0px 20px var(--main);
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo {
  color: var(--main);
  font-size: 3em;
  font-weight: 700;
}
header .container nav {
  width: 60%;
}
header .container nav ul {
  display: flex;
  justify-content: space-between;
}
header .container nav ul li {
  list-style: none;
}
header .container nav ul li a {
  text-decoration: none;
  color: rgb(123, 123, 123);
}
header .container nav ul li a:hover {
  color: var(--main);
}
header .container .button button {
  border-radius: 5px;
  background-color: var(--main);
  color: white;
  border: none;
  padding: 5px 20px;
}

section.me {
  display: flex;
}
section.me .info {
  width: 50%;
  margin-top: 60px;
}
section.me .info .hi {
  color: darkgray;
}
section.me .info .name {
  color: lightgrey;
  font-size: 1.4em;
  padding-top: 10px;
  padding-bottom: 20px;
}
section.me .info .prof {
  color: var(--main);
  font-size: 2em;
  font-weight: bold;
}
section.me .info .icons {
  display: flex;
  margin-top: 10px;
}
section.me .info .icons .telegram {
  font-size: 60px;
}
section.me .info .icons .instagram {
  padding-left: 10px;
  padding-right: 10px;
  font-size: 60px;
}
section.me .info .icons .viber {
  font-size: 60px;
}
section.me .info .button-info {
  margin-top: 20px;
}
section.me .info .button-info button {
  border-radius: 5px;
  background-color: var(--main);
  color: white;
  border: none;
  padding: 10px 30px;
}
section.me .photo {
  width: 50%;
}
section.me .photo img {
  width: 70%;
}

section.skills .text-head {
  color: var(--main);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2em;
  font-weight: 700;
}
section.skills .cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
section.skills .cards .card {
  width: 240px;
  height: 200px;
  text-align: center;
  background: #424242;
  box-sizing: border-box;
  border-radius: 10px;
  padding-top: 50px;
  color: var(--main);
}
section.skills .cards .card .icon {
  font-size: 2.7em;
}
section.skills .cards .card .text {
  font-size: 1.5em;
}
section.skills .cards .card:hover {
  transform: scale(1.1);
  background: var(--main);
  transition: 0.5s;
  color: #ffffff;
}

.portfolio .port-title {
  color: var(--main);
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2em;
  font-weight: 700;
}
.portfolio .projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  color: #e8e8e8;
}
.portfolio .projects .project {
  border-radius: 20px;
  background-color: #252525;
}
.portfolio .projects .project .picture img {
  width: 300px;
  height: 300px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.portfolio .projects .project .title {
  font-size: 2em;
}
.portfolio .projects .project .description {
  font-size: 1.5em;
}

section.contact-me .cont-text {
  text-align: center;
  color: var(--main);
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2em;
  font-weight: 700;
}
section.contact-me .contacts {
  color: var(--main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
section.contact-me .contacts div {
  width: 50%;
  text-align: center;
}
section.contact-me .contacts .email a {
  text-decoration: none;
  color: var(--main);
}
footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: var(--main);
  background-color: #424242;
}
footer .logo-footer {
  color: var(--main);
  font-size: 3em;
  font-weight: 700;
}
footer nav {
  width: 60%;
}
footer nav ul {
  display: flex;
  justify-content: space-between;
}
footer nav ul li {
  list-style: none;
}
footer nav ul li a {
  text-decoration: none;
  color: rgb(123, 123, 123);
}
footer nav ul li a:hover {
  color: var(--main);
}/*# sourceMappingURL=style.css.map */